.avatar {
    max-height:30px;
    border-radius: 15px;
    width:auto;
    vertical-align:middle;
  }

.logout {
  text-align: center;
}

.room-nav-link {
  border: 1px solid #007bff;
  background: #fff;

  & + .room-nav-link {
    border-top: 0 none;
  }
}

.chat {
  border: 1px solid gray;
  background: #fff;
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.chat-message-container {
  padding: 5px;

  .avatar {
    margin: 5px;
  }

  .message-content {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background: #007bff;
    color: white;
  }

  & + .chat-message-container {
    margin-top: 10px;
  }
}